body{
  background-color: white;
}

#container{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#cuadrom{
  width: 50%;
  height: 70%;
  background-color: rgb(74, 37, 170);
  border-radius: 15px;
  color:white;
  padding: 20px;
}

#img{
  width: 400px;
}

@media (min-width:100px) and (max-width:720px){
  #container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}